/* UserActions Component Styles */

/* Follow/Unfollow Button */
.user-action-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 500;
  transition: all 0.2s ease;
  border: none;
  min-width: 92px;
  justify-content: space-around;
}

.user-action-button.following {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: 0.5px solid #adb3b8;
}

.user-action-button.following:hover:not(:disabled) {
  background-color: rgb(232, 232, 232);
}

.user-action-button:not(.following) {
  background-color: rgb(37 99 235);
  color: white;
}

.user-action-button:not(.following):hover:not(:disabled) {
  background-color: rgb(29 78 216);
}

.user-action-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* Loading Spinner */
.loading-spinner {
  width: 1rem;
  height: 1rem;
  border: 2px solid white;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

/* Icon */
.action-icon {
  width: 1rem;
  height: 1rem;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
